{% extends "base.html" %}

{% block content %}
    {% include "navigation.html" %}
    <div class="container mt-5 col-lg-8">
        <div class="card">
            <h5 class="card-header">Transaction history</h5>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Computer</th>
                        <th scope="col">Playtime</th>
                        <th scope="col">Total payment</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% load mathfilters %}
                    {% for bill in data %}
                        <tr>
                            <th>{{ bill.id }}</th>
                            <td>{{ bill.user }}</td>
                            <td>{{ bill.computer.name }}</td>
                            <td>{{ bill.play_time|mul:15 }} mins</td>
                            <td>{{ bill.total_payment }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a href="/new_bill" class="btn btn-primary float-right">Create</a>
            </div>
        </div>
    </div>
{% endblock %}
