{% extends "base.html" %}

{% block content %}
    {% include "navigation.html" %}
    <div class="container mt-5 col-lg-8">
        <div class="card">
            <h5 class="card-header">Danh sách khách hàng</h5>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Tên khách hàng</th>
                        <th scope="col">Số điện thoại</th>
                        <th scope="col">Email</th>
                        <th scope="col">Số dư</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in data %}
                        <tr>
                            <th>{{ user.id }}</th>
                            <td>{{ user.username }}</td>
                            <td>{{ user.fullname }}</td>
                            <td>{{ user.phone }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.wallet }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a href="/new_customer" class="btn btn-primary float-right">Thêm khách hàng</a>
            </div>
        </div>
    </div>
{% endblock %}
