html,
body {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Other Classes for Page Styling */
